/* Primera sección */
.fijo {
    width: 200px;
    height: 150px;
    background-color: #37bd3b;
}

/* Segunda sección */
.porcentaje {
    width: 50%;
    height: 100px;
    background-color: #1572be;
}

/* Tercera sección */
.min-max {
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    background-color: #FF5722; 
}
