
p {
  color: blue;
}

.brillo {
  background-color: yellow;
}

#titulo {
  font-size: 24px;
  color: darkgreen;
}

* {
  margin: 0;
  padding: 0;
}

[type="text"] {
  border: 2px solid red;
}
