table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed;
}

caption {
    caption-side: bottom;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}

table, th, td {
    border: 2px solid #555;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

td:empty {
    background-color: #ddd;
    empty-cells: show;
}
