.c1 {
position: absolute;
background-color: azure;
width: 300px;
height: 300px;
z-index: -2;
}

.c2 {
    position: absolute;
background-color: rgb(201, 39, 39);
width: 300px;
height: 300px;
z-index: 3;
}

.c3 {
background-color: blueviolet;
width: 300px;
height: 300px;
}