
.container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  width: 300px;          
  background-color: #b3d4fc;
  padding: 15px;
  text-align: center;
  margin: 20px auto;     
  border: 1px solid #4682b4;
}


.text-container {
  background-color: #ffe9a8;
  padding: 20px;
  text-align: center;    
  margin: 20px 0;
}

.image-container {
  text-align: center;    
  margin: 20px 0;
}

.image-container img {
  display: block;
  margin: 0 auto;      
}

.aligned {
  margin-top: 20px;
  overflow: auto;        
}

.left {
  float: left;
  background-color: #d4f7d4;
  padding: 10px;
}

.right {
  float: right;
  background-color: #f7d4d4;
  padding: 10px;
}

.vertical-center {
  height: 100px;         
  background-color: #e2ccff;
  text-align: center;
  line-height: 100px;      
  margin-top: 30px;
  border: 1px solid #6b4caf;
}
