h2 {
  color: purple;
}

.resaltado {
  font-weight: bold;
  background-color: lightgray;
}

* {
  margin: 0;
  padding: 0;
}

li {
  color: red;
}

input[type="password"] {
  border: 2px solid blue;
}