body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 20px;
}

p {
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
}

.container {
  width: 300px;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #333;
  background-color: #e3e3e3;
  overflow: auto; 
}

.container.visible {
  overflow: visible;
  border-color: rgb(45, 30, 180);
}

.container.hidden {
  overflow: hidden;
  border-color: rgb(53, 151, 44);
}

.container.scroll {
  overflow: scroll;
  border-color: rgb(194, 42, 75);
}

.container.auto {
  overflow: auto;
  border-color: rgb(208, 211, 34);
}

.container.scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}

